
.partition {
    display: flex; 
    height: 100%;
  }
.title{
  color: rgb(21, 21, 90);  
  text-align: center;  
  font-weight: bold;  
  font-size: 24px;
  padding: 10px;
}
  .calendar {
    width: 25%; 
    background-color: white; 
    height: 100vh;
  }
  
  .events-for-date {
    margin-top: 20px;
  }
  
  .event-list {
    flex: 1;
    overflow-y: auto;
    border-right: 1px solid #ccc; 
    height: 100vh; 
  }
  .event-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .event-card h3 {
    color: rgb(41, 41, 125);
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .event-card p {
    margin: 5px 0;
    font-size: 16px;
    font-weight: 400;
  }
  .custom-calendar {
    border: 1px solid #2a3d84;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    color: #142c80;
    font-size: 12px;
    font-weight: 300;
    background-color: #f2f1f4;
    box-shadow: 0 2px 4px rgba(114, 138, 217, 0.782);
  }
  .list{
    margin: 5px 0;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    list-style: none;
  }
  .row{
    display: flex;
    justify-content: space-between; /* This will push the contents to the ends */
    align-items: center;
  } 
  .add-event-form {
    position: fixed;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 15%;
  }
  
  .add-event-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .add-event-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .add-event-form button {
    padding: 8px 16px;
    background-color: rgb(21, 21, 90);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-event-form button[type="button"] {
    background-color: rgb(134, 135, 137); 
  }
  
  .add-event-form button[type="submit"] {
    margin-right: 10px;
  }
  .addbutton{
    background-color:   rgb(5, 5, 68);
    color: white;
    padding: 10px;
    border-radius:5%;
    margin-top: 5%;
    margin-bottom: 10px;
  }
  .event-list {
    list-style-type: none;
    padding: 0;
}

.event-list li {
    margin-bottom: 8px;
}

.event-title {
    font-weight: bold;
}

.event-date{
  font-style: italic;
  margin-left: 15%;
}
.event-time {
    color: #666;
    font-style: italic;
}
.custom-event {
  display: flex;
  justify-content: space-between;  
  background-color: rgba(235, 233, 170, 0.793);
  padding: 1px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(235, 233, 170, 0.793);
  width: 100%;
}

.event-title {
  font-weight: bold;
}

.event-time {
  font-style: italic;
  margin-left: 15%;
}
.card{ 
  padding: 0%;
}
.sidebar {
  flex: 1;
  border-color: transparent;
  padding: 10px;
  border-width: 1px;
  box-shadow: 5px 5px 5px rgba(14, 33, 140, 0.5);
  border-top: none; 
}
.bar{
  flex: '0 0 calc(75vw)';
  padding: '0vh';
  margin: 1rem; 
  border-width: 1px;  
  border-color: #aab0ae;   
} 