.cardcontainer {
    width: 80%;
}



.cardImage {
    width: 100%;
    aspect-ratio: 1/1;
}

.cardTitle {
    font-size: 1.5em;
    padding: 10px;
    color: cadetblue;
}

.cardText {
    font-size: 1.2em;
    padding: 10px;
}

@media screen and (max-width: 600px)
{
    .cardcontainer {
        width: 100%;
    }
    
}