.cardcontainer {
    margin: 20px;
    width: 80%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}



.cardImage {
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    aspect-ratio: 1/1;
}

.cardTitle {
    font-size: 1.5em;
    padding: 10px;
    color: cadetblue;
}

.cardText {
    font-size: 1.2em;
    padding: 10px;
}
