.lightblue{ 
    width: 300px;
    height: 521px;
    
    color: white;
    background: #31304D;
} 
.darkblue{ 
    width: 300px;
    height: 521px;
    
    color: white;
    background: #161A30;
}
.blogspanel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

