.carousalbox {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    
}

.carousalimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
}

.ctextbox {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    top: 20vh;
    left: 10vw;
}

.heroText {
    color: white;
    font-size:  7rem;
    font-family: "Open Sans";
    /* text-shadow: 8px 3px 2px rgba(8,206,125,0.63); */
  
}

.herosubText{
    color: white;
    font-size: 3rem;
    font-family: "Black Ops One", system-ui;

}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
   
    .ctextbox {
        top: 15vh;
        left: 8vw;
    }

    .carousalbox {
        height: 50vh; /* Adjust height for smaller screens */
    }

    .heroText {
        font-size: 2.5rem; /* Adjust font size for smaller screens */
    }
    .herosubText{
        font-size: 1rem; /* Adjust font size for smaller screens */
    }
}
