.carousalbox {
    position: relative;
    width: 100%;
    height: 65vh;
    overflow: hidden;
    background-color: black;
}

.carousalimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heroText {
    position: absolute;
    top: 50%;
    left: 20%;
    color: white;
    font-size: 5rem;
    font-weight: bold;
    color: rgb(33, 235, 250);
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
   
    .carousalbox {
        height: 30vh; /* Adjust height for smaller screens */
    }

    .heroText {
        top: 20%; /* Adjust top positioning for smaller screens */
        left: 10%; /* Adjust left positioning for smaller screens */
        font-size: 3rem; /* Adjust font size for smaller screens */
    }
}
