.gallerypanel{
    width:clamp(300px, 80%, 1500px);
    margin: 20px;
    background-color: rgb(24, 24, 24);
    padding: 10px;
    border-radius: 10px;
}

.gallerybutton{
    margin: 10px;
    width: 100px;
}
