#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    overflow: hidden;
    background-color: cadetblue;
}



#statisticspanel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
    overflow: hidden;
    background-color: rgb(6, 70, 9);
}

#blogspanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55vh;
    width: 100%;
    background-color: rgb(53, 70, 6);
}

#gallerypanel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
    overflow: hidden;
    background-color: rgb(70, 6, 6);
}

#testimonialpanel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
    overflow: hidden;
    background-color: rgb(70, 6, 70);
}

#contactpanel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
    overflow: hidden;
    background-color: rgb(6, 6, 70);
}
