.card {
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.statsval {
    font-size: 3em;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.statstitle {
    font-size: 2em;
    padding: 10px;
    color: black;
    font-weight: bold;
    text-align: center;
}