.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.page h1 {
    font-size: 3rem;
    color: #333;
}

.pdf-viewer {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    width: 90%; 
    max-width: 800px; 
    box-sizing: border-box; 
}
.pdf-viewer h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0;
}
@media (max-width: 768px) {
    .pdf-viewer {
        width: 100%; 
        padding: 10px;
    }
}
@media (max-width: 480px) {
    .page h1 {
        font-size: 2rem; 
    }
    .pdf-viewer h2 {
        font-size: 1.2rem; 
    }
}
