#contentbox{
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 85vh;
  width: clamp(350px, 80vw, 1200vw);
  margin-left: auto;
  margin-right: auto;
}

/* #search_bar {
  width: clamp(300px, 60vw, 500px);
  padding: 5px 20px;
  border-radius: 20px;
  font-weight: 500;
  margin: 10px;
} */
                   



.alumniimage {
  width:100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
}

.alumnidetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.alumni_contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.alumni-detail-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  text-align: left;
}
p{
  width: 100%;
}

.detailName{
  width:50%;
  font-weight: bold;

}
.detailValue{
  width: 50%;
}


/* Media query for screens smaller than 600px */
@media only screen and (max-width: 600px) {
  .alumniitem {
    flex-direction: column;
    width: 80%;
    margin: auto;
  }

  .alumniimage {
    width: 100%;
  }

  .alumnidetails {
    align-items: center;
  }
}
