.cardcontainer {
    width: 100vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.profilebox, .infobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}

.profilebox p{
    font-size: 20px;
}

.infobox {
    width: 50%;
}

.profileimage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.detaillist{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
    justify-content: space-between;
    margin: 5px;
    align-items: center;
}

.detaillist label {
    font-size: 15PX; 
    width: 30%;
}

.detailitem{
    padding: 5px;
    border-radius: 5px;
    width: 70%;
}

@media screen and (max-width: 768px) {
    .cardcontainer {
        flex-direction: column;
        height:auto;
    }
    .infobox {
        width: 95%;
    }
    .detaillist{
        width: 100%;
        margin: 2px;
    }
    .detailitem{
        margin: 2px;
    }
}