.gallerypanel{
    margin-bottom: 2vh;
    padding: 10px 50px;
    margin-top: 10vh;
}

.quote-container {
    width: 80vw;
    overflow: hidden;
    position: relative;
}

.quotetext{
    width: 90%;
    text-align: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: fade 100 linear infinite;
}