#foooter {
  background-color: rgb(0, 19, 59);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  padding: 10px;
}

.soc_icons :hover {
    filter: brightness(115%);
}

.soc_icons {
  width: 5vh;
  height: 5vh;
  display: inline-block;
  background-color: #279458;
  border-radius: 50%;
  padding: 8px;
  color: #ffffff;
}

#copyright {
  text-align: center;
  width: 100%;
  color: white;
  background-color: rgb(0, 7, 22);
}

#copyright:hover {
    color: rgb(211, 168, 168);
  }

@media (max-width: 600px) {
  #social {
    width: 100%;
  }
}